<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: LightSlateGray;}
h1   {color: blue;}
p    {color: red;}
li   {color: red;}
</style>
<title>CU Buffs NFV</title>
<head>
<body>
<h1>Welcome to CU Buffs NFV Application</h1>
<ul>
<li>
<form action="{% url 'images' %}">
    <input type="submit" value="Images" />
</form>
</li>
<li>
<form action="{% url 'instances' %}">
    <input type="submit" value="Instances" />
</form>
</li>
<li>
<form action="{% url 'interfaces' %}">
    <input type="submit" value="Interfaces" />
</form>
</li>
</ul>
<body>
</html>
